/* Color Theme Swatches in Hex */
.Teal-and-Blush-1-hex { color: #23606E; }
.Teal-and-Blush-2-hex { color: #FACFCE; }
.Teal-and-Blush-3-hex { color: #008F8C; }
.Teal-and-Blush-4-hex { color: #015958; }
.Teal-and-Blush-5-hex { color: #023535; }

/* Color Theme Swatches in RGBA */
.Teal-and-Blush-1-rgba { color: rgba(35, 96, 110, 1); }
.Teal-and-Blush-2-rgba { color: rgba(250, 207, 206, 1); }
.Teal-and-Blush-3-rgba { color: rgba(0, 143, 140, 1); }
.Teal-and-Blush-4-rgba { color: rgba(1, 89, 88, 1); }
.Teal-and-Blush-5-rgba { color: rgba(2, 53, 53, 1); }

/* Color Theme Swatches in HSLA */
.Teal-and-Blush-1-hsla { color: hsla(191, 51, 28, 1); }
.Teal-and-Blush-2-hsla { color: hsla(1, 81, 89, 1); }
.Teal-and-Blush-3-hsla { color: hsla(178, 100, 28, 1); }
.Teal-and-Blush-4-hsla { color: hsla(179, 97, 17, 1); }
.Teal-and-Blush-5-hsla { color: hsla(180, 92, 10, 1); }

/* git remote add origin https://github.com/jessicaagrs/projeto_shopTech_javascript.git
git branch -M main
git push -u origin main */
